{
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "semi": false
      }
    },
    {
      "files": "*.styled.ts",
      "options": {
        "semi": true
      }
    }
  ]
}
